.reviews{
  margin:0 auto;
  min-width:320px;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:url("../../../dist/img/testmonials-bg 2.png")
}
.reviews__container{

  min-width:270px;
  margin:0 auto;
}
.reviews__full__content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.reviews__content{
  min-width:270px;
  max-width:310px
}
.reviews__title{
  font-family:Montserrat,sans-serif;
  margin-top:0;
  margin-bottom: 53px;
  padding-top:57px;
  font-weight:bold;
  font-size:36px;
  line-height:48px;
  text-align:center;
  color: #FFFFFF;
}
.reviews__img{
  display: block;
  margin: 0 auto;
}
.reviews__text{
  font-family:Lato,sans-serif;
  margin-top: 45px;
  margin-bottom:45px;
  padding-right:30px;
  padding-left:30px;
  font-style:italic;
  font-weight:700;
  font-size:16px;
  line-height:24px;
  text-align:center;
  color:#fff
}
.reviews__conclusion{
  position: relative;
}
.reviews__conclusion__text{
  font-family:Lato,sans-serif;
  padding-left:30px;
  padding-right:30px;
  padding-bottom: 22px;
  font-size:14px;
  line-height:21px;
  text-align:center;
  color:#a291a5
}
.reviews__dashes{
  margin: 0 auto;
  border: none;
  width:245px;
  max-width:780px;
  height:2px;
  text-align:center;
  background:#645766;
  position: absolute;
  right: 38px;
  left: 38px;
  z-index: 3;

}

@media screen and (min-width: 481px){
  .reviews{
    background-image:url("../../../dist/img/Layer 1.png")
  }
}
@media (min-width:768px){
  .reviews{
    margin:0 auto;
    min-width:768px;
  }
  .reviews__container{
    min-width:720px;
    margin:0 auto
  }
  .reviews__title{
    font-family:Montserrat,sans-serif;
    font-style:normal;
    font-weight:700;
    font-size:42px;
    line-height:44px;
    text-align:center;
    color:#fff
  }
  .reviews__dashes{
    right: 106px;
    left: 106px;
  }
}
@media (min-width: 620px) {
  .reviews {
    background-image: url("../../../dist/img/testmonials-bg 1.png");
  }
  .reviews__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    color: #FFFFFF;
  }
}
@media (min-width:1200px){
  .reviews{
    margin:0 auto;
    min-width:1200px;

  }
  .reviews__container{
    margin:0 auto;
    max-width:1150px;
  }
  .reviews__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
  }
.reviews__dashes{
  right: 300px;
  left: 300px;
}
}