@import "../global/vars";
@import "../global/mixins";

.wrapper {
  min-width: 320px;
}
.header {
  margin: 0 auto;
  min-width: 320px;
  background-position: center center;
  background-image: url("../../../dist/img/img 3.jpg");
  height: 718px;
}
.header__container {
  margin: 0 auto;
  min-width: 290px;
  position: relative;
}
.header__content {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background: #27262A;
}

.header__body {
  width: 290px;
  @include flex-block;
  padding: 32px 0;
  margin: 0 auto;
}
.logo__btn {
  display: none;
}
.header__logo__title {
  display: none;
}

.header__btn {
  cursor: pointer;
  width: 119px;
  height: 37px;
  @include color-background;
  border-radius: 40px;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
.header__menu {
  display: none;
}
.header__burger-closed {
  display: none;
  width: 26px;
  height: 37px;
}
.header__burger-closed.active {
  display: block;
}
.header__burger-closed > hr {
  height: 3px;
  background: #FFFFFF;
  border-radius: 5px;
}
.header__burger-closed > hr:first-child {
  margin-top: 3px;
  margin-right: 0;
  width: 15px;
  height: 3px;
  background: #FFFFFF;
}
.header__burger-open {
  display: none;
  width: 26px;
}
.header__burger-open.active {
  display: block;
}
.header__list {
  margin: 0 auto;
  width: 292px;
  height: 325px;
  background: #333333;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  top: 105px;
}
.header__list.active {
  display: flex;
}
.header__list__text {
  font-size: 26px;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  padding-top: 29px;
  padding-bottom: 20px;
  padding-left: 35px;
  border-bottom: #3b3b3b solid 3px;
  text-decoration: none;
  position: relative;
}
.header__list__text:before {
  content: '';
  width: 8px;
  height: 53px;
  @include color-background;
  position: absolute;
  left: 0;
  top: 10px;
  display: none;
}
.header__list__text:active {
  font-family: 'Montserrat', sans-serif;
  @include color-text;
}

.header__list__text:active::before {
  display: block;
}
.header__list__text:focus {
  @include color-text;
}

.header__list__text:focus::before {
  display: block;
}

.header__link {
  list-style: none;
  text-decoration: none;
}

.header__about {
  text-align: center;
  margin-top: 50px;
}

.header__about > p:first-child {
  font-family: Montserrat, sans-serif;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.header__about > p:nth-child(2) {
  font-family: Montserrat, sans-serif;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  @include color-text;
}

.header__about > p:last-child {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #848E97;
}

.header__btn__main {
  position: absolute;
  top: 695px;
  left: 15px;
  right: 15px;
}

.btn__main {
  margin: 0 auto;
  display: block;
  width: 290px;
  height: 45px;
  @include color-background;
  border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border:none;
  font-family: Montserrat, sans-serif;
}

.header__info {
  margin-top: 13px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #848E97;
}


@media (min-width: $lt) {
  .header {
    background-position: center center;
    background-image: url("../../../dist/img/img 2.png");
    min-width: 768px;
  }
  .header__container{
    position: relative;
  }
  .header__content{

  }
  .header__logo{
    display: flex;
    align-items: center;
    gap: 17px;
    cursor: pointer;
  }
  .header__logo__img__hover{
    display: none;
  }
  .header__logo__title {
    display: block;
    //margin-left: -422px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
    @include color-text;
  }
  .header__logo__title:hover{
    cursor:pointer;
  }
  .header__burger-closed {
    display: none;
  }
  .header__burger-closed.active {
    display: none;
  }
  .header__burger-open {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__burger-closed > hr {
    display: none;
  }
  .header__body {
    width: 728px;
    @include flex-block;
    padding: 32px 0 0 0;
    margin: 0 auto;
  }

  .header__btn{
    width: 146px;
  }
  .header__btn:hover{
    cursor: pointer;
  }
  .logo__btn {
    margin: 24px auto 10px;
    min-width: 728px;
    display: flex;
    justify-content: space-between;
  }
  .logo__btn > div {
    display: flex;
    align-items: center;
    gap: 17px;
    color: #8D81AC;
  }

  .header__menu {
    @include flex-block;
    width: 517px;
    margin: 0 auto;
    padding: 23px 0 18px;
  }

  .header__text {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    @include color-text;
  }

  .header__about {
    text-align: center;
  }
  .header__about > p:first-child {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
  }
  .header__about > p:nth-child(2){
    margin-bottom: 19px;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #8D81AC;
  }
  .header__about > p:last-child {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
  }
  .header__btn__main {
    position: absolute;
    top: 213px;
    left: 15px;
    right: 15px;
  }
  .btn__main {
    margin: 470px auto 18px;
    display: block;
    width: 390px;
    height: 62px;
    @include color-background;
    border-radius: 40px;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
  }
  .header__info {
    padding-bottom: 93px;
    line-height: 14px;
    color: #848E97;
  }
}
@media (min-width: $dt) {
  .header {
    background-image: url("../../../dist/img/img 1.png");
  }
  .header__menu {
    @include flex-block;
    min-width: 520px;
    margin: -53px 0 18px 480px;
  }
  .header__logo:hover .header__logo__title{
    color: #fff;
  }
  .header__logo:hover .header__logo__img{
    display: none;
  }
  .header__logo:hover .header__logo__img__hover{
    display: block;
  }
  .header__text{
    font-family: Montserrat, sans-serif;
  }
  .header__text:hover{
    cursor:pointer;
    color: #fff;
  }
  .header__content {
    background: black;
  }
  .header__body{
    width: 1200px;
  }
  .header__body > img :hover{
    background: #fff;
    cursor: pointer;
  }
  .header__img{
    fill:#FFFFFF;
  }
  .header__logo__title {
    display: block;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
    @include color-text;

  }

  .header__btn{
    margin-right: 17px;
    width: 145px;
  }
  .header__btn:hover{
    background: #fff;
    cursor:pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #8D81AC;
  }
  .header__about{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 82px;
    line-height: 82px;
    color: #FFFFFF;
  }
  .header__about > p:nth-child(2){
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #8D81AC;
  }
  .header__about > p:last-child {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #848E97;
  }
  .btn__main{
    width: 390px;
    height: 62px;
    background: #8D81AC;
    border-radius: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .btn__main:hover{
    border: 2px solid #8D81AC;
    border-radius: 40px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 22px;
    background: #fff;
    color: #8D81AC;
  }
}
@media (min-width: 1300px) {
  margin-right: 500px;
}
@media (min-width: 1600px) {
  margin-right: 800px;
}
































